.main {
 background: navy;
 color: white;
 }
 
.topbar {
	background: #45595A;
	color: #fff;
	padding: 8px 15px;
	font-size: 13px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}