<link rel="stylesheet" type="text/css" href="https://hok-z.github.io/layouts/public/F2U-QuoteWall.css">
    <div class="QuoteWall">
        <div class="QuoteHeader">Quote Wall</div><div class="QuoteEntry"><p class="username">Username </p><p class="quote">"Quoted Text"<p class="time">0:00 PM LDT</p></p></div>
        
        
        
<div class="QuoteEntry"><p class="username">Username </p><p class="quote">"Quoted Text"<p class="time">0:00 PM LDT</p></p></div><div class="QuoteEntry"><p class="username">Username </p><p class="quote">"Quoted Text"<p class="time">0:00 PM LDT</p></p></div><div class="QuoteEntry"><p class="username">Username </p><p class="quote">"Quoted Text"<p class="time">0:00 PM LDT</p></p></div></div>