.QuoteContainer::after {
    content: "Code by Hok-Z #170947" !important;
    font-size: 10px !important;
    margin-top: -50px !important;
    display: block !important;
    float: right !important;
    color: #07070736 !important;
    pointer-events: all !important;
}

.QuoteWall {
    background: #00000014 !important;
    border-radius: 2px !important;
    border: 2px solid  !important;
    height: 200px !important;
    overflow: auto !important;
    margin-bottom: 50px !important;
    text-align: left !important;
}
 
.QuoteHeader {
    padding-top: 10px !important;
    background: #00000038 !important;
    height: 40px !important;
    border-bottom: 1px solid;
    font-weight: 900 !important;
    text-align: center;
}

.QuoteEntry {
    background: #ffffff0d !important;	
    border-bottom: 1px solid !important;
    padding: 5px !important;
    height: 70px !important;
}

.QuoteEntry:nth-child(even) {
    background: #0000000d !important;	
}

.QuoteContainer .QuoteWall .QuoteEntry .username {
    display: flex !important;
    margin: 0 0 0 0 !important;
    font-weight: bold !important;
}

.QuoteContainer .QuoteWall .QuoteEntry .quote {
    font-style: italic !important; 
    float: left !important;
    padding-left: 5px !important;
    padding-top: 7px !important;
}

.QuoteContainer .QuoteWall .QuoteEntry .time {
    float: right !important;
    font-size: 10px !important;
    margin-top: -10px !important;
}

.QuoteWall::-webkit-scrollbar,
.QuoteWall::-webkit-scrollbar-track,
.QuoteWall::-webkit-scrollbar-thumb {
    background: #6b6b6b57 !important;
    border: none !important;
    width: 5px !important;
}
